
{% extends 'index.html'%}
{% load static %}
{% block title %}
<title>essence-Fahion world| contact</title>
{% endblock %}
{% block body %}

    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel">
                <img src="{{data.pic1.url}}" style="height:600px" width="100%" alt="">
                <img src="{{data.pic2.url}}" style="height:600px" width="100%" alt="">
                <img src="{{data.pic3.url}}" style="height:600px" width="100%" alt="">
                <img src="{{data.pic4.url}}" style="height:600px" width="100%" alt="">
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>{{data.brand}}/{{data.maincategory}}/{{data.subcategory}}</span>
            <a href="#">
                <h4>{{data.name}}</h4>
            </a>
            <p class="product-price"><span class="old-price">&#8377; {{data.baseprice}}</span> &#8377;{{data.finalprice}}</p>
            <p class="product-price">Discount {{data.discount}}%Off</p>
            <p class="product-desc">{{data.description}}</p>
            <p class="product-desc d-flex justify-content-between">
                <span>color : {{data.color}}</span><span>size : {{data.size}}</span> {% if data.stock %} 
                <span>stock : in stock</span>{% else %} <span>stock : out of stock</span>{% endif %}
            </p>

            <!-- Form -->
            <form class="cart-form clearfix" method="post">
                <!-- Select Box -->
                
                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center">
                    <!-- Cart -->
                     {% if data.stock %}
                    <a type="submit" href="/addtocart/{{data.id}}" name="addtocart" value="5" class="btn essence-btn text-light">Add to cart</a>
                    <!-- Favourite -->
                     {% endif %}
                    <div class="product-favourite ml-4">
                        <a href="#" class="favme fa fa-heart text-primary"> </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- ##### Single Product Details Area End ##### -->

    {% endblock %}